@font-face {
 font-family:'Andes';
 font-style: normal;
 font-weight: 200;
 src: 
  local('Andes'),
  url(./Andes/Andes-Light.otf) format ('otf')
}


*{
  font-family: 'Andes' !important;
  font-weight: 300;
}

input {
    font-family: 'Segoe UI' !important;
    font-weight: 400 !important;
    font-size: 15px;
  }

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.paymentForm {
    padding: 15px;
    margin-top: 30px;
    border-radius: 5px;
    position: relative;
}

.cardNumber {
  width: 315px;
}

.cardExpiry {
    width: 140px;
    display: inline-block;
    margin-right: 10px;
}

.cardCvc {
  width: 150px;
  display: inline-block;
  margin-left: 15px;
}

.btn-submit {
    padding-top: 5px;
    margin-right: auto;
    font-size: 16px;
    display: block;
    width: 220px;
    border: 0px;
    border-radius: 30px;
    background: #1e2341;
    color: #d8e56b;
    cursor: pointer;
    transition: 0.2s;
    margin-left: auto;
    padding-bottom: 5px;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(30,35,65,0.7);
    -moz-box-shadow: 0px 0px 15px 0px rgba(30,35,65,0.7);
    box-shadow: 0px 0px 15px 0px rgba(30,35,65,0.7);
}

.btn-submit:hover {
  transform: scale(1.05);
}

.btn-submit:active {
  transform: scale(1.1);
}

.StripeElement {
  box-sizing: border-box;

  height: 40px;
  margin-bottom: 15px;

  padding: 10px 12px;
  border: 2px solid #1e2341;
  background-color: #d8e56b;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}


.title {
  background:rgba(2,0,36,1) ;
  color: rgba(229,250,141,1);
  text-align: center;
  padding: 10px;
  border-radius: 4px;
}

.emailInput {
  box-sizing: border-box;
  height: 40px;
  margin-bottom: 15px;
  padding: 10px 12px;
  border: 2px solid #1e2341;    
  background-color: #d8e56b;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  transition: box-shadow 150ms ease;
  width: 315px;
}

.logo {
    width: 70px;
    height: auto;
    border: 3px solid rgb(33, 33, 53);
    border-radius: 50px;
    padding: 1px;
    right: 40%;
    margin-top: -50px;
    position: absolute;
    background: rgba(229,250,141,1);
}

.subtitle {
  text-align: center;
  background: #1e2341;
  color: #d8e56b;
  margin-top: 30px;
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 15px;
  padding: 2px;
}

html {
  margin: 0;
  width: 100%;
  height: 100vh;
  background: #d8e56b;
}


#top {
  text-align: center;
  background: #1e2341;
  color: #d8e56b;
  margin-top: 60px;
  font-weight: 500;
  font-size: 26px;
  margin-bottom: 15px;
  padding: 2px;
}

.errorMessage {
  animation: appear 0.5s linear 0.3s;
  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 5px;
  position: relative;
  border: 3px solid rgb(33, 33, 53);
  color: rgb(33, 33, 53);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.returnBtn {
  margin-top: 15px;
  display: block;
  width: 40%;
  border: 0px;
  padding: 10px;
  border-radius: 4px;
  background: rgba(2,0,36,1);
  color: rgba(229,250,141,1);
  cursor: pointer;
  transition: 0.2s;
}

.returnBtn:hover {
  transform: scale(1.05);
}

.SuccessMessage {
  animation: appear 0.5s linear 0.3s;
  background: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 5px;
  position: relative;
  border: 3px solid rgb(33, 33, 53);
  color: rgb(33, 33, 53);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 351px;
  text-align: center;
}

.la-ball-rotate,
.la-ball-rotate > div {
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.la-ball-rotate {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-rotate.la-dark {
    color: rgba(2,0,36,1);
}
.la-ball-rotate > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-rotate {
    width: 10px;
    height: 10px;
}
.la-ball-rotate > div {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation: ball-rotate-animation 1s cubic-bezier(.7, -.13, .22, .86) infinite;
       -moz-animation: ball-rotate-animation 1s cubic-bezier(.7, -.13, .22, .86) infinite;
         -o-animation: ball-rotate-animation 1s cubic-bezier(.7, -.13, .22, .86) infinite;
            animation: ball-rotate-animation 1s cubic-bezier(.7, -.13, .22, .86) infinite;
}
.la-ball-rotate > div:before,
.la-ball-rotate > div:after {
    position: absolute;
    width: inherit;
    height: inherit;
    margin: inherit;
    content: "";
    background: currentColor;
    border-radius: inherit;
    opacity: .8;
}
.la-ball-rotate > div:before {
    top: 0;
    left: -150%;
}
.la-ball-rotate > div:after {
    top: 0;
    left: 150%;
}
.la-ball-rotate.la-sm {
    width: 4px;
    height: 4px;
}
.la-ball-rotate.la-sm > div {
    width: 4px;
    height: 4px;
}
.la-ball-rotate.la-2x {
    width: 20px;
    height: 20px;
}
.la-ball-rotate.la-2x > div {
    width: 20px;
    height: 20px;
}
.la-ball-rotate.la-3x {
    width: 30px;
    height: 30px;
}
.la-ball-rotate.la-3x > div {
    width: 30px;
    height: 30px;
}

@-webkit-keyframes ball-rotate-animation {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-moz-keyframes ball-rotate-animation {
    0% {
        -moz-transform: rotate(0deg);
             transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(180deg);
             transform: rotate(180deg);
    }
    100% {
        -moz-transform: rotate(360deg);
             transform: rotate(360deg);
    }
}
@-o-keyframes ball-rotate-animation {
    0% {
        -o-transform: rotate(0deg);
           transform: rotate(0deg);
    }
    50% {
        -o-transform: rotate(180deg);
           transform: rotate(180deg);
    }
    100% {
        -o-transform: rotate(360deg);
           transform: rotate(360deg);
    }
}
@keyframes ball-rotate-animation {
    0% {
        -webkit-transform: rotate(0deg);
           -moz-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
           -moz-transform: rotate(180deg);
             -o-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
           -moz-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
.loading {
  margin-top: 50px;
}